@font-face {
    font-family: 'Museo'; 
    src: url('../fonts/Museo_Slab_500.ttf'),url('../fonts/Museo_Slab_500.eot');
}

@font-face {
    font-family: 'MavenProLight';
	src: url('../fonts/MavenProLight-100.otf');
}
@font-face {
    font-family: 'MavenProLight2';
	src: url('../fonts/MavenProLight-200.otf');
}
body {
	font-size: 18px;
	line-height: 2.11em;
	color: #595959;
	font-family: 'Open Sans', sans-serif;
}
html, body {height: 100%;}

#wrap {min-height: 100%;}

#top_background{
	background: url("/img/background_clear.jpg");
	width: 100%;
	height: 700px;
	background-size: 2000px 1003px;
	background-position: center top;
	background-repeat: no-repeat;
	position: fixed;
	top:0px;
}

#top_overlay{
	position: fixed;
	top:0px;	
	height: 700px;
	width: 100%;
	background: black;
	opacity: 0.65;
}

#logo{
	margin-top: 150px;
}
#slogan{
	margin-top: 10px;
	font-size: 18pt;
	opacity: 0.9;
	color: white;
	font-weight:lighter;
	font-family: 'MavenProLight', sans-serif;
}
#downarrow{
	margin-top: 300px;
	font-size: 14pt;
	opacity: 1;
	color: white;
	font-weight:lighter;
	font-family: 'MavenProLight2', sans-serif;
	text-align: center;
}
#down{
	font-size: 30pt !important;
}
#section_four{
	height: 1000px;
	position: absolute;
	top:2620px;
	background: white !important;
	width: 100%;
	z-index: 2;

}
#featured_section{
	position: absolute;
	top: 700px;
	height: 300px;
	width: 100%;
	background: white;
	z-index: 2;
}
.feature_wrapper{
	width: 100%;
}
.feature{
	width: 130px;
	margin: 0px auto;
		opacity: 0.7;
		margin-top: 90px;

}
.feature:hover{
	cursor: hand;
	cursor: pointer;
	opacity: 1;
}
#feature1{
	
	margin-top: 90px;

	
}
#feature2{
		margin-top: 125px;

	
}
#feature3{}
#feature4{
			margin-top: 95px;

}
#feature5{}

#section_one{
	position: absolute;
	top: 1000px;
	height: 220px;
	width: 100%;
	background: whitesmoke;
	z-index: 2;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.7);

}
#section_two{
	height: 900px;
	position: absolute;
	top:1220px;
	background-color: #101010;
	
	background-size: cover;
	width: 100%;
	

}
#section_two h1{
	font-family: 'MavenProLight', sans-serif;	
	color: white;
	font-size: 30pt;
	text-align: center;
	margin-top: 60px
}

.company-wrapper{
	width: 100%;
}
.company{
	width: 220px;
	margin: 0px auto;
	padding: 30px 0px;
	opacity: 0.7;
	-webkit-transition:opacity 0.25s ease-in;  
	-moz-transition:opacity 0.25s ease-in;  
	-o-transition:opacity 0.25s ease-in;  
	transition:opacity 0.25s ease-in; 
}
.company:hover{
	opacity: 1;
	cursor: hand;
	cursor: pointer;
	
	-webkit-transition:opacity 0.25s ease-in;  
	-moz-transition:opacity 0.25s ease-in;  
	-o-transition:opacity 0.25s ease-in;  
	transition:opacity 0.25s ease-in; 
}
#agencypost{
	margin-top: 10px;
}
#influenceandco{
	margin-top: 20px;
}
#mediacross{
	margin-top: 30px;
}
#copymint{
	margin-top: 30px;
}
#peoplkit{
	margin-top: 0px;
}
#peoplkit img{
	width: 100px !important;

}
#9thandelm{
	margin-top: 30px;
}
#myfort{
	background-color: black;
    background-image: url("../img/picture1.jpg");
    background-repeat: repeat-x;
	height: 700px;
	overflow: hidden;
	top:2020px;
	z-index: 2;
	box-shadow: 10px 10px 10px 20px rgba(0,0,0,0.7);
	width: 100%;
	position: absolute;

}

#thefort{
	    margin: 140px 0px 0px 0px
 }
#thefort h2{
	color: white;
	font-weight:lighter;
	font-family: 'MavenProLight', sans-serif;
	font-size: 30pt;
	text-align: center;
}
#thefort p{
	color: #dadada;
	  text-align: center;

}
#thefort a{
	color: #f0c700;
	padding-top: 30px;

}
.faded { opacity: .7;
	-webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; 
  }
  
.faded:hover { opacity: 1; }
.myhr { display: block; height: 1px;
    border: 0; border-top: 1px solid rgba(240,200,0,0.55);
    border-bottom: none;
    margin: 0 0; padding: 0; 
  }
  
  .myhr_white { display: block; height: 1px;
    border: 0; border-top: 1px solid rgba(255,255,255,0.55);
    border-bottom: none;
    margin: 0 0; padding: 0; 
  }
#about{
	text-align: center;
	padding-top: 35px;
	font-family: 'MavenProLight2', sans-serif;
	font-weight:normal;
	font-size: 14pt;	
}

#contact{
	font-weight:lighter;
	font-family: 'MavenProLight2', sans-serif;
	font-size: 30pt;
	text-align: center;
	margin-top: 70px;
}


		textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
			border-radius: 0;
		}
		textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"], input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"], input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
			border-color: #efc01d;
			box-shadow: 0 0 4px #efc01d;
		}
		
#contact_desc{
	font-family: 'MavenProLight2', sans-serif;
	font-weight:normal;
	font-size: 18pt;	

}		
		
input[type="text"], textarea{
	border: 2px solid rgba(89,89,89,0.3);
	border-radius: 7px;
	background: transparent;
	height: 40px;
	font-family: 'MavenProLight2', sans-serif;

}
textarea{
	resize: none;
	height: 100px;
}

input[type="submit"]{
	background: #efc01d;
	color: white;
	text-shadow: none;
	border: none;
	padding: 10px 30px;
	font-size: 14pt;
		font-family: 'MavenProLight2', sans-serif;
		-webkit-transition:background 0.25s ease-in;  
	-moz-transition:background 0.25s ease-in;  
	-o-transition:background 0.25s ease-in;  
	transition:background 0.25s ease-in; 
}

input[type="submit"]:hover{
	background: #f5d665;
	color: white;
		-webkit-transition:background 0.25s ease-in;  
	-moz-transition:background 0.25s ease-in;  
	-o-transition:background 0.25s ease-in;  
	transition:background 0.25s ease-in; 
}
.tooltip div{
	margin-bottom: 20px
}

.job_company{
	text-align: center;
	font-size: 16pt;
}
.job_title{
	text-align: center;
	font-size: 11pt;
	
}
.job_more{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 70px;
}
.job_button{
	background: #efc01d;
	color: white;
	text-shadow: none;
	border: none;
	border-radius: 5px;
	padding: 10px 30px;
	font-size: 14pt;
	font-family: 'MavenProLight2', sans-serif;
	-webkit-transition:background 0.25s ease-in;  
	-moz-transition:background 0.25s ease-in;  
	-o-transition:background 0.25s ease-in;  
	transition:background 0.25s ease-in; 
}

.job_button:hover{
	background: #f5d665;
	text-decoration: none;
	color: white;
	-webkit-transition:background 0.25s ease-in;  
	-moz-transition:background 0.25s ease-in;  
	-o-transition:background 0.25s ease-in;  
	transition:background 0.25s ease-in; 
}
@media (min-width: 1200px){
	#about{
	padding-top: 40px;
	font-size: 16pt;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
#about{
	padding-top: 20px;
}
.company{
	width: 180px;
}
.feature{
	width: 100px;
		
	}

}

.job p{
	font-size: 10pt !important;
	line-height: 25px !important;
}
.job ul li{
	font-size: 10pt !important;
	line-height: 25px !important;
	
}

@media (max-width: 767px) {
#downarrow{
	display: none;
}
#top_background, #top_overlay{
	position: absolute;
	height: 450px
	
}

.feature{
margin-top: 50px !important;
	
}

#featured_section{
	height: 750px;
		top: 450px;

}
#section_one{
	top: 1200px;
}
#section_two{
	top: 1420px;
}

#logo, #slogan{
	margin-left: 10px;
}
#about{
	font-size: 12pt;
	padding-top: 25px;
	line-height: 35px;
}

hr{
 opacity: 0.3;
}

#section_two{
	height: 1500px;
}

#myfort{
	top:2820px;
}

#section_four{
	top:3420px;
	height: 700px;
}
#contact_desc, #contact-form{
	padding: 0px 10px;
	
}
#contact_desc{
	font-size: 14pt;
}
}

@media (max-width: 568px) {
#about{
	font-size: 10pt;
	padding-top: 35px;
	line-height: 25px;
}

}
